.main-wrapper {
    display: grid;
    grid-template-areas: "aside div";
    grid-template-columns: 1fr 1fr;
    
    padding: 0;
}

header {
    nav .menu {
        display: none;
    }
    
    .settings {
        display: none;
    }
}

aside {
    grid-area: aside;
}

.main-wrapper > div {
    grid-area: div;

    display: flex;
    
    background-color: var(--blue);

    padding: 10px;
    
    main {
        border-radius: 10px;

        background-color: white;
    
        margin: auto;

        width: 300px;
    }
}

main {
    padding: 20px;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60px;
        }

        .text {
            margin-left: 3px;
            font-weight: bold;
            color: darkblue;
            font-size: 30px;
        }
    }

    h1 {
        text-align: center;

        font-weight: normal;
        font-size: 25px;
        
        margin: 10px 0px;
    }

    .field {
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;

        label {
            font-size: small;
        }

        input {
            width: 100%;

            padding: 5px;
        }

        .password {
            position: relative;
            display: flex;
            align-items: center;

            input {
                padding: 5px 25px 5px 5px;
            }

            button {
                position: absolute;
                right: 5px;

                background-color: rgba(0, 0, 0, 0);
                border: none;

                img {
                    width: 20px;
                }
            }
        }
    }

    input[type="submit"] {
        background-color: var(--blue);
        color: white;
        
        border: 1px solid var(--blue);
        border-radius: 3px;

        padding: 5px 15px 5px 15px;
    }

    .recover-password {
        font-size: small;

        color: var(--blue);
    }
    .recover-password:hover {
        text-decoration: underline;
    }

    .footer {
        /* display: none; */
        
        hr {
            border: none;
            border-top: 1px solid var(--gray);

            margin: 10px;
        }

        .message {
            color: red;

            font-size: small;
            text-align: center;
        }
    }
}