.main-wrapper {
    display: grid;
    grid-template-areas: "main";
}

header {
    nav .menu {
        display: none;
    }
    
    .settings {
        display: none;
    }
}

main {
    grid-area: main;
    
    border: 1px solid black;
    border-radius: 10px;
}