table {
    border: 1px solid black;
    border-spacing: 0;
    text-align: left;

    display: block;
    max-width: fit-content;
    overflow-x: auto;
}

th, td {
    background-color: white;
    border: 1px solid black;
    padding: 5px;

    text-wrap: nowrap;
}

button + button {
    margin-left: 5px;
}

tbody td.option, thead th.option {
    position: sticky;
    right: 0;
}

tfoot th.option {
    border: none;
    display: block;
    position: sticky;
    left: 0;
}