.window {
    border: 1px solid black;
    width: fit-content;
    position: fixed; /* remove to disable window mode */
    background-color: white;
}

.window-bar {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.window-content {
    display: grid;

    .field {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .input {
            box-sizing: border-box;
        }
        .wrapper {
            display: flex;
        }
    }
}
