.window {
    border: 1px solid black;
    position: fixed; /* remove to disable window mode */
    background-color: white;
    width: fit-content;

    .window-label {
        padding: 5px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .close-button {
        padding: 0px;
        min-width: 30px;
        max-width: 30px;
        min-height: 30px;
        max-height: 30px;
    }
    
    .window-bar {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: grab;
        user-select: none;

        position: absolute;
        left: 0;
        right: 0;
    }
    
    .window-content {
        resize: both;
        overflow: auto;
        padding: 20px;
    }
}