.window {
    border: 1px solid black;
    position: fixed; /* remove to disable window mode */
    background-color: white;

    .window-label {
        padding: 5px;
    }

    .close-button {
        padding: 0px;
        width: 28px;
    }
    
    .window-bar {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        cursor: grab;
        user-select: none;
    }
    
    .window-content {
        display: grid;
        resize: both;
        overflow: auto;
        box-sizing: border-box;
        padding: 5px;
        
        .field {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            padding: 5px;
        }

        label {
            text-wrap: nowrap;
        }

        input {
            width: 100%;
        }
    }
}