.window {
    border: 1px solid black;
    width: fit-content;
}

.window-bar {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.window-content {
    display: grid;

    .field {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .input {
            width: 100px;
            box-sizing: border-box;
        }
    }
}
